@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">
                Hola, @User.Identity?.Name
            </span>
        </li>

        <li class="nav-item">
            <form asp-controller="Acceso" asp-action="CerrarSesion" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-danger text-white border-0">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Acceso" asp-action="IniciarSesion">Iniciar sesión</a>
        </li>
    }
</ul>