@{
    ViewData["Title"] = "Error";
}

<h1 style="color:red;">Error 500 - Error interno del servidor</h1>

<p>
    Ocurrió un error inesperado en el sistema.
</p>

<p>
    Por favor, inténtelo nuevamente más tarde.
</p>